<!DOCTYPE html>
<html lang="ru">
<head>
	<link rel="stylesheet" type="text/css" href="/public/reg-edit.css"/>
	<title>Список абитуриентов</title>
	<meta charset="utf-8">
</head>
<body>

<div class="fields">
	<h1> Регистрация </h1>
	<form action="" method="get">
		<label for="name">Имя: </label>
		<input type="text" name="name" size="40" maxlength="100" value="John" required>

		<label for="name">Фамилия: </label>
		<input type="surname" name="surname" size="40" maxlength="100" value="John" required>

		<label for="sex">Пол: </label>
		<select name="sex" value="John">
			<option value="masculine">Мужской</option>
			<option value="feminine">Женский</option>
		</select>

		<label for="group_num">Номер группы: </label>
		<input type="text" name="group_num" size="40" maxlength="5" value="John" required>

		<label for="email">Почта: </label>
		<input type="email" name="email" size="40" maxlength="100" value="John" required>

		<label for="ege_sum">Сумма баллов ЕГЭ: </label>
		<input type="number" name="ege_sum" maxlength="10" value="John" required>

		<label for="birth_year">Год рождения: </label>
		<input type="number" name="birth_year" maxlength="10" value="John" required>

		<label for="location">Происхождение: </label>
		<select name="location" >
			<option value="local" selected >Местный</option>
			<option value="non_local" >Иногородний</option>
		</select>

		<input type="submit" value="Отправить" >
	</form>

</div>

</body>
