.left {
    float: left;
}

.fields {
    position: absolute;
    left: 40%;
}

.error {
    color: #ff2000;

}

input {
    display: block;
    margin-bottom: 10px;
}

select {
    display: block;
    margin-bottom: 10px;
}

