<!DOCTYPE html>
<html lang="ru">
<head>
	<link rel="stylesheet" type="text/css" href="../public/list.css"/>
	<title>Список абитуриентов</title>
	<meta charset="utf-8">
</head>
<body>
	<div class="search_div">
		<form action="" method="get">
			<label for="search_field">Поиск: </label>
			<input type="search" name="search_field" id="search_field" maxlength="100">
			<div>
				<select name="sort_by">
					<option value="name">Имя</option>
					<option value="surname">Фамилия</option>
				</select>

				<label for="asc">По возр.</label>
				<input type="radio" name="sort_dir" id="asc" value="asc">
				<label for="desc">По убыв.</label>
				<input type="radio" name="sort_dir" id="desc" value="desc">

				<input type="submit" value="Искать">
			</div>
		</form>
	</div>

	<div class="list_stud">
		<table>
			<caption>Список абитуриентов</caption>
			<thead>
				<tr>
					<th>First roweeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeerrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrttttttttttt</th>
					<th>Second row</th>
					<th>Third row</th>
					<th>Fourth row</th>
					<th>Fifth row</th>
					<th>Sixth row</th>
					<th>Second row</th>
					<th>Eighth row</th>
					<th>Ninth row</th>
					<th>Tenth row</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>tr-2-td-1eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeerrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrttttttttttt</td>
					<td>tr-2-td-2</td>
					<td>tr-2-td-3</td>
					<td>tr-2-td-4</td>
					<td>tr-2-td-5</td>
					<td>tr-2-td-6</td>
					<td>tr-2-td-7</td>
					<td>tr-2-td-8</td>
					<td>tr-2-td-9</td>
					<td>tr-2-td-10</td>
				</tr>
				<tr>
					<td>tr-3-td-1</td>
					<td>tr-3-td-2</td>
					<td>tr-3-td-3</td>
					<td>tr-3-td-4</td>
					<td>tr-3-td-5</td>
					<td>tr-3-td-6</td>
					<td>tr-3-td-7</td>
					<td>tr-3-td-8</td>
					<td>tr-3-td-9</td>
					<td>tr-3-td-10</td>
				</tr>
				<tr>
					<td>tr-4-td-1</td>
					<td>tr-4-td-2</td>
					<td>tr-4-td-3</td>
					<td>tr-4-td-4</td>
					<td>tr-4-td-5</td>
					<td>tr-4-td-6</td>
					<td>tr-4-td-7</td>
					<td>tr-4-td-8</td>
					<td>tr-4-td-9</td>
					<td>tr-4-td-10</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>